*{
  margin: 0;
  padding: 0;
}
ul{
    list-style: none;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
ul li{
flex: 1;
text-align: center;
}
.active{
    color: red;
}
.list{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid grey;
}